/* Theme: Tetris */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root[data-theme='tetris'] {
    --font-toolbar-family: 'Press Start 2P', monospace;
    --font-title-family: 'VT323', monospace;
    --font-cell-family: 'Press Start 2P', monospace;

    /* Colores */
    --color-bg: #000;
    --color-cell: #0341ae;
    --color-modal: #000;
    --color-button: #0341ae;
    --color-letters: #fff;
    --color-title: #fff;
    --color-selected: #0f0;
    --color-hover: #40c2ff;
    --color-line: #ffa500;
    --color-ui: #17b2ff;
    --color-words: #fff;
    --color-menu: #fff;

    /* Efectos */
    --border-light: 2px solid #17b2ff;

    /* Animaciones */
    --found-bg: linear-gradient(45deg, #f00, #ff8e00);
    --found-scale: 1.2;
    --found-shadow: 0 0 20px #17b2ff;
    --unused-scale: 0.8;
    --unused-opacity: 0.25;
    --animation-duration-found: 800ms;
    --confetti-colors: #f00, #0f0, #00f, #ff0;
}

:root[data-theme='tetris'] .board {
    background: repeating-linear-gradient(
        0deg,
        #000,
        #000 1px,
        #111 1px,
        #111 2px
    );
}

:root[data-theme='tetris'] .text {
    margin-left: calc(var(--cell-size) * 0.07);
    margin-top: calc(var(--cell-size) * 0.1);
}

@keyframes tetris-found {
    0% {
        transform: rotate(0) scale(1);
        filter: brightness(1);
    }

    50% {
        transform: rotate(180deg) scale(0.8);
        filter: brightness(1.5);
    }

    100% {
        transform: rotate(360deg) scale(1);
        filter: brightness(1);
    }
}

:root[data-theme='tetris'] .found-temp {
    animation: tetris-found var(--animation-duration-found)
        var(--animation-timing);
    background: linear-gradient(45deg, #f00, #ff8e00);
    box-shadow: 0 0 20px #17b2ff;
}
